<%- include( "./partials/header.ejs"); -%>
<h1>compose</h1>
<form action="/compose" method="post" class="item">
    <div class="form-group">
        <label for="">Title</label>
    <input  class="form-control" type="text" name="postTitle">
    <label for="">post</label>
    <textarea class="form-control" id="" cols="40" rows="10" name="postBody"></textarea>
    
    </div>
    <button type="submit" name="button" class="btn btn-primary">publish</button>
    
</form>
<%- include( "./partials/footer.ejs"); -%>